html{
    padding: 50px;
}
body{
    background-color: lightyellow;
}
div#header{
    padding: 10px;
    border: 10px dotted red;
    color: black;
    font-size: 20;
    font-family: "Comic Sans MS"
}
div#content{
    font-family: "Comic Sans MS";
    color: purple;
}
p#onpage{
    font-size: 20;
    font-weight: 100;
    background-color: white;
    width: 200px;
    border: 5px solid red;
}
p#hello{
    color: red;
    font-weight: 900;
}